---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import Footer from '../components/Footer.astro';
import BlogHeader from '../components/BlogHeader.astro';
import NavBar from '../components/NavBar.astro';
import { Icon } from 'astro-icon/components';
import '@fontsource-variable/open-sans';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, date, updatedDate, cover_image }: Props = Astro.props;

const dateOptions: object = {
	year: "numeric",
	month: "numeric",
	day: "numeric",
};

const formattedPublishDate = new Date(date).toLocaleDateString("en-US", dateOptions);
const slug = Astro.params.slug;
---


<html lang="en">
	<head>
		<title>{title}</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style is:global>
			@font-face {
				font-family: 'Open-Sans';
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
			h1 {
				font-size: 2.5rem;
				font-weight: 700;
			}
			h2 {
				font-size: 2rem;
				font-weight: 600;
				margin-bottom: 0.75rem;
			}
			h3 {
				font-size: 1.75rem;
				font-weight: 500;
				margin-bottom: 0.75rem;
			}
			h4 {
				font-size: 1.5rem;
				font-weight: 400;
				margin-bottom: 0.75rem;
			}
			p {
				font-size: 1.25rem;
				font-family: Open-Sans, sans-serif;
				
				margin-bottom: 1.25rem;
			}
			.responsive-iframe-container {
					position: relative;
					padding-bottom: 56.25%; /* Aspect ratio for 16:9 screens */
					height: 0;
					overflow: hidden;
			}

			.responsive-iframe-container iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 0;
			}
			p {
				font-size: 1.25rem;
			}
			p > a {
				color: #1d4ed8;
				text-decoration: none;
			}
			pre {
				margin-bottom: 1.25rem;
				padding: 1rem;
			}

		</style>
	</head>

	<body>
		<NavBar />
		<BlogHeader coverImage={cover_image} title={title} />
		<main>
			<article class="container mx-auto py-6">
				<main class="max-w-[1174px] mx-auto py-2">
					<p class="font-bold">Author: David Fekke</p>
					<!-- Format the date below in the following format Month, Day, Year -->

					<p class="text-sm">Published: {formattedPublishDate}</p>
					<div class="flex flex-row gap-1 pb-3">
						<div>
							
							<a href={`https://x.com/share?text=${title}&url=https://fek.io/blog/${slug}`} target="_blank"><Icon name="simple-icons:x" width="24" height="24" /></a>
						</div>
						<div>
							<a href={`https://www.linkedin.com/shareArticle?mini=true?title=${title}&url=https://fek.io/blog/${slug}&summary=${description}&source=fek.io`} target="_blank"><Icon name="simple-icons:linkedin" width="24" height="24" /></a>
						</div>
						<div>
							<a href={`https://www.reddit.com/submit?url=https://fek.io/blog/${slug}&title=${title}`} target="_blank"><Icon name="simple-icons:reddit" width="24" height="24" /></a>
						</div>
					</div>
					<div class="flex flex-col justify-center">
						
						<!-- <div class="prose"> -->
							<slot />
						<!-- </div> -->
					</div>
				</main>
				
			</article>
		</main>
		<Footer />
	</body>
</html>
