---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import Footer from '../components/Footer.astro';
import BlogHeader from '../components/BlogHeader.astro';
import NavBar from '../components/NavBar.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, date, updatedDate, cover_image }: Props = Astro.props;

const imagePath = `${Astro.url.pathname}${cover_image}`;
---


<html lang="en">
	<head>
		{description && <div>{title} || {description}</div>}
		<meta charset="UTF-8">
		<style is:global>
			.responsive-iframe-container {
					position: relative;
					padding-bottom: 56.25%; /* Aspect ratio for 16:9 screens */
					height: 0;
					overflow: hidden;
			}

			.responsive-iframe-container iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 0;
			}
		</style>
	</head>

	<body>
		<NavBar />
		<BlogHeader coverImage={cover_image} title={title} />
		<main>
			<article class="container mx-auto py-6">
				<div class="flex justify-center">
					<div class="prose">
						<slot />
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
